$ff_roboto: 'Roboto', sans-serif;
$ff_montserrat: 'Montserrat', sans-serif;
$ff_oswald: 'Oswald', sans-serif;
$ff_poppins: 'Poppins', sans-serif;

$c_bg: #f8f8f8;
$c_text: #070707;
$c_white: #fff;
$c_black: #000;

$c_gray: #aaa;
$c_gray-light: lighten($c_gray, 10%);
$c_gray-dark: darken($c_gray, 10%);
$c_red: #f33;
$c_red-light: lighten($c_red, 10%);
$c_red-dark: darken($c_red, 10%);
$c_orange: #ff6000;
$c_orange-light: lighten($c_orange, 10%);
$c_orange-dark: darken($c_orange, 10%);
$c_yellow: #fd0;
$c_yellow-light: lighten($c_yellow, 10%);
$c_yellow-dark: darken($c_yellow, 10%);
$c_green: #4b4;
$c_green-light: lighten($c_green, 10%);
$c_green-dark: darken($c_green, 10%);
$c_blue: #2599ff;
$c_blue-light: lighten($c_blue, 10%);
$c_blue-dark: darken($c_blue, 10%);
$c_purple: #5500ff;
$c_purple-light: lighten($c_purple, 10%);
$c_purple-dark: darken($c_purple, 10%);
$c_pink: #f26fff;
$c_pink-light: lighten($c_pink, 10%);
$c_pink-dark: darken($c_pink, 10%);